.nav{
    color: #0362f1;
}
.caption1{
    height: 62%;
    width: 70%;
}
.caption2{
    height: 60%;
    width: 110%;
}
.caption3{
    height: 65%;
    width: 30%;
}
.caption4{
    height: 70%;
    width: 30%;
}
.caption5{
    height: 70%;
    width: 50%;
}
.justifier{
    text-align: justify;
}
.Footer{
    background-color: #0362f1;
}
.anchor1{
    margin: 5px;
}
.anchor2{
    margin: 8px;
}
.bod{
    border: 2px solid #0362f1;
    width: 100px;
    margin-left: 44%;
}
.bor{
    border: 2px solid #0362f1;
    margin-top: 10px;
    margin-left: 35px;
    width: 150px;
}
.caption0{
    width: 22%;
    height: 50%;
}
.box{
    border: 2px solid #0362f1;
    width: 150px;
    margin-left: 35px;
}
.head{
    color: #0362f1;
}
.color{
    color: rgb(0, 0, 0);
    font-weight: 600;
    font-size: large;
}
.li{
    font-size: 40px;
}



